img {
  height: 350px;
  width: 350px;
  padding: 20px;

}

h3 {
  float: right;
  font-size: 30px;
  font-style: italic;
  width: 30%;
  color: blue;
}

p {
  font-weight: bold;
  font-style: italic;
  color: orange;
}

body {
  background-color: skyblue;
}

h3.a {
  background-color: black;
}

h3.b {
  background-color: pink;
}

h3.c {
  background-color: green;
}
